.button-holder {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-form-container{
  position: absolute;
  top: 150px;
  width: auto;
  max-width: 300px;
  left: 37%;
  font-weight: 800;
}

/* .login-form-box {
  height: inherit;
} */


.login-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.login-form-box {
  outline: 1px solid black;
  padding: 20px;
}

input {
  left: 20px;
  line-height: 1.3;
  font-size: 100%;
  padding: 8px;
  margin-bottom: 10px;
  height: 18px;
  border: 1px solid #e4e6e8;
  cursor: auto;
}

input[type=submit]{
  text-align: center;
  background: #07C;
  color: #FFF;
  border-radius: 3px;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-bottom: 0;
  width: 80px;
  margin-left: 140px;
}

.login-form-box input:hover{
  border-color: #07C;
}

@media screen and (max-width: 600px){

  .login-form-container{
    position: absolute;
    top: 150px;
    width: auto;
    max-width: 300px;
    left: 25px;
    /* left: 37%; */
    font-weight: 800;
  }

  input {
    left: 20px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 18px;
    border: 1px solid #e4e6e8;
    cursor: auto;
  }

  input[type=submit]{
    text-align: center;
    background: #07C;
    color: #FFF;
    border-radius: 3px;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    width: 80px;
    margin-left: 140px;
  }
  .login-form-box input:hover{
    border-color: #07C;
  }
}
