.error-group{
  z-index: 4000;
  margin-left: -200px;
  margin-top: -15px;

  color: #F9ECED;
  background-color: #C04848;
  width: 200px;
  height: auto;
  text-align: left;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  line-height: 1.3;
  position: absolute;
}

.username-error, .email-error, .password-error, .general-error{
  font-size: 13px;
  height: auto;
  width: 180px;
  padding: 12px;

  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

.username-error{

}

.email-error{

}

.password-error{

}

.general-error{

}
