.site-footer-container{
  height: 7em;
  min-width: 600px;
  min-height: 200px;
  width: 100%;
  padding-top: 2em;
  display: flex;
  position: relative;
  z-index: 4000;
  flex-flow: row;
  background-color: #242729;
}


.site-footer{
  display: flex;
  flex-direction: row;
  background-color: #242729;
  background-image: none;
  background-position: top left;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 4em;
  background-size: auto;
  color: #6a737c;
  padding-top: 1em;
  min-width: 600px;
  width: 100%;
  align-items: center;
}
