/* PHASE 1: Header */
.nav-bar{
  position: fixed;
  width: 100%;
  height: 42px;
  z-index: 1001;
}
.header-nav{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  min-width: 400px;
  width: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fafafb;
  transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
  height: 42px;
  box-sizing: border-box;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  border-top: 3px solid #F48024;
  box-shadow: 0px 0.5px lightgrey;
}


.header-link{
  padding-top: 10px;
}

.header-link {
  padding-left: 40px;
}

.header-link a {
  color: black;
}
.header-link strong{
  font-weight: 800;
}

.login-signup{
  padding-right: 50px;
  padding-top: 5px;
}

.login-signup a{

}

.login{
  padding: 5px;
}

.login:hover{

  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px #888;
  cursor: pointer;
  background-color: lightgrey;
}

.signup{
  padding: .4em;
}


.left-sidebar {
  box-sizing: border-box;
  width: 163px;
  min-height: 420px;
  padding: 20px;
  flex-shrink: 0;
  padding-right: 19px;
  border-right: 1px solid #ccc;
  flex-shrink: 0;
  z-index: 1000;
  position: relative;
  box-shadow: 0 0 0 rgba(12,13,14,0.05);
  transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
}

.space-li-header {
  font-weight: bolder;
  margin-left: -0.5em;
}

.left-sidebar-sticky-container{
  position: sticky;
  top: 4em;
}

.space-li{
  padding-top: 1.4em;

}
.grey-beige{
  color: #535a60;
}
a.grey-beige{
  color: #535a60;
}

.nav-search-bar-container{
  display: inline-block;
}

.nav-search-bar{
  margin-left: 2em;
  height: 2.4em;
  margin-top: -0.3em;
  border-width: 1px;
  border-color: #c8ccd0;
  background-color: #FFF;
  color: #3b4045;
  font-size: 12px;
  width: 24em;
  border-radius: 4px;
}
/* input[type='submit'] */
/* .search-icon, input[type='submit'].search-icon{
  display: none;
} */

.nav-search-bar:focus{
  background-color:#FFF;
  border-color: #0095ff;
  box-shadow: inset 0 2px 2px #fafafb 0 0 5px rgba(0, 119, 204, 0.4);
  border: 1px solid #66bfff;
  transition: all 600ms cubic-bezier(.165, .84, .44, 1);
}

.search-icon, input[type='submit'].search-icon, .nav-search-bar:focus ~ input[type='submit'].search-icon, input[type='submit'].search-icon:focus{

  display:inline-block;
  font-weight: normal;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  color: #FFF;
  background-color: #0095ff;
  border: 1px solid #07c;
  box-shadow: inset 0 1px 0 #66bfff;
  height: 1.8em;
  width: 2em;
  position: absolute;
  right: 0;
  top: 55%;
  transform: translate(17.5em,-50%);
  border-radius: 0 3px 3px 0;
  z-index: 4000;
  padding: 0 12px;
  transition: 200ms cubic-bezier(.165, .84, .44, 1);

}


.nav-search-bar:focus ~ img.search-icon{
  display:inline-block;
  border: 1px solid transparent;
  border-radius: 3px;

  height: 1.9em;
  width: 4.2em;
  position: absolute;


  transform: translate(-2.85em,-50%);
  top: 55%;
  z-index: 4000;
  padding: 0 12px;
}
 .nav-search-bar:focus ~ img.search-icon:hover{
  z-index: 3999;
}
.nav-search-bar:focus ~ input[type='submit'].search-icon:hover, .nav-search-bar ~ input[type='submit'].search-icon:hover{
  background-color: darkred;
}

@media screen and (max-width: 800px){
  .nav-bar{
    position: fixed;
    width: 100%;
    max-width: 600px;
    height: 60px;
  }
  .nav-search-bar-container, .nav-search-bar{
    display: none;
  }
  .header-nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-width: 250px;
    width: inherit;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    background-color: #fafafb;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    height: 60px;
    box-sizing: border-box;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    border-top: 4px solid #F48024;
    box-shadow: 0px 0.5px lightgrey;
  }

}

@media screen and (max-width: 450px){
  .nav-search-bar-container:focus, .nav-search-bar{
    display: none;
  }
  .left-sidebar{
    display: none;
  }
}
