.votes {
  padding: 0.5em;
  position: relative;

  border-bottom: 1px solid #eff0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #6a737c;
  font-size: 1.5em;
} 
.qvote{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.5em;
  color: #6a737c;
  font-size: 1.5em;
  padding-left: 0.2em; 
}


.question-votes{
  padding-right: 0.5em;
  padding-left: 0.4em;
  padding-top: 0.1em;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #6a737c;
  font-size: 1em;
}


.question-index-votes{
  padding-right: 0.5em;
  padding-left: 1em;
  padding-top: 0.1em;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #eff0f1;
  color: #6a737c;
  font-size: 1em;
}



.float-display{
  float:left;
  display: inline-flex;
}

.vote-item{
  margin: 0.2em;
  align-self: center;
}

.medium-vote-item{
  font-size: 18px;
}
.little-vote-item{
  font-size: 10px;
}

button.vote-item{

}
